<section id="contactus" data-aos="fade-zoom-in"
data-aos-easing="ease-in-back"
data-aos-offset="500">
    <div class="header-text-container">
        <div class="header-text" data-aos="fade-up"
        data-aos-duration="1000">
            <span>Đến ngay Citicafe</span>
            <div class="underline-header-text" data-aos="fade-right"
            data-aos-offset="400"
            data-aos-delay="400"
            data-aos-easing="ease-in-sine"></div>
        </div>
    </div>
    <div class="contact-main-container" data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="400"
    data-aos-offset="0">
        <div class="contact-info">
            <div class="contact-row" data-aos="fade-up"
            data-aos-duration="1000">
                <h4>Citicafe Phan Đình Phùng</h2>
                <div class="underline-contact"></div>
                <div class="contact-details">
                    <div class="contact-address">
                        <p>
                            14 đường Phan Đình Phùng, <br/>quận Hải Châu,  Đà Nẵng<br/>(+84) 091 490 01 08 <br/>citicafevietnam@gmail.com
                        </p>
                    </div>
                    <div class="service-time">
                        <p>
                            Từ Thứ hai đến Chủ Nhật<br/>08:00 - 20:00<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mapouter animate__animated animate__slideInUp animate__faster">
            <div class="gmap_canvas"><iframe width="1200" height="600" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=14%20Phan%20Dinh%20Phung,%20Da%20Nang&t=&z=17&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                    href="https://embedgooglemap.net/maps/28"></a><br>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 600px;
                        width: 1200px;
                    }
                </style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                <style>
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 600px;
                        width: 1200px;
                    }
                </style>
            </div>
        </div>
    </div>
    <div class="order-coffee" data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="400"
    data-aos-offset="0">
        <div class="order-coffee-overlay">
            <div class="order-coffee-container">
                <div class="order-coffee-img"><img src="https://image.foody.vn/bookingcollection/s/beauty-upload-api-1200x630-191030172514.jpg" alt="Now Logo"></div>
                <div class="order-coffee-text"><p>Mỗi sáng đẹp trời, thưởng thức một tách cà phê là một cách tuyệt vời để bắt đầu ngày mới. Order ngay một tách cà phê tại citicafe qua ứng dụng NOW thôi!</p></div>
                <div class="order-coffee-img"><a href="https://www.now.vn/da-nang/citicafe">ORDER NGAY <i style="margin-left: 10px;" class="fas fa-chevron-right"></i></a></div>
            </div>
        </div>
    </div>
</section>