<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citicafe - Cà phê cóc thế hệ mới</title>
    <%- include('styles') -%>
    <script src="/ckeditor/ckeditor.js"></script>
</head>

<body>
    <%- include('navbar') -%>
    <%- include('slide') -%>
    <%- include('customer') -%>
</body>

</html>