<nav class="citinavbar">
    <div class="logo-container">
        <img src="/images/logo.png" alt="Citicafe Logo">
    </div>
    <div class="main-nav">
        <ul>
            <li><a href="#">TRANG CHỦ</a></li>
            <li><a href="#">MENU</a></li>
            <li><a href="#">VỀ CHÚNG TÔI</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>
</nav>