.contact-main-container {
    width: 100%;
    margin: 30px 0;
    padding: 30px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: flex-end;
}

.mapouter {

}

.contact-info {
    position: relative;
    padding: 30px;
    top: 150px;
    left: 90px;
    z-index: 50;
    border: 2px gainsboro solid;
    border-radius: 10px;
    height: 300px;
    background-color: white;
    width: 50%;
}

.underline-contact {
    width: 6%;
    height: 5px;
    background-color: #e98025;
}

.contact-details {
    width: 100%;
    display: flex;
    margin: 20px 0;
}

.contact-address {
    width: 50%;
}

.contact-address p {
    font-size: 20px;
    line-height: 33px;
    font-weight: normal;
    color: rgb(66, 66, 66);
}

.service-time {
    width: 50%;
}

.service-time p {
    font-size: 20px;
    line-height: 33px;
    font-weight: normal;
    color: rgb(126, 126, 126);
}

.order-coffee {
    width: 96%;
    margin: 20px 2%;
    height: 450px;
    background-image: url(/images/Coffee.jpg);
    background-position: center;
    background-size: cover;
}

.order-coffee-overlay {
    width: 100%;
    height: 100%;
    background-color: #e9812525;
    padding: 50px 0;
}

.order-coffee-container {
    background-color: white;
    border-radius: 3px;
    border: 1px #1b11085b solid;
    width: 40%;
    height: 100%;
    margin: 0 30%;
    padding: 40px;
}

.order-coffee-img {
    display: flex;
    justify-content: center;
}

.order-coffee-img img {
    height: 70px;
    width: auto;
    border-radius: 5px;
    display: block;
}

.order-coffee-text {
    width: 90%;
    margin: 20px 5%;
    text-align: center;
}

.order-coffee-text p{
    width: 100%;
    color: rgb(94, 94, 94);
    font-size: 22px;
    line-height: 32px;
    max-width: 100%;
}

.order-coffee-img a{ 
    display: block;
    padding: 10px 30px;
    background-color: #ff8d29;
    color: white;
    border-radius: 3px;
}