#contactus {
    padding-top: 150px;
}

.contact-main-container {
    width: 100%;
    margin: 30px 0;
    padding: 30px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: flex-end;
}

.contact-info {
    position: relative;
    padding: 30px;
    top: 125px;
    left: 100px;
    z-index: 50;
    border: 2px gainsboro solid;
    border-radius: 10px;
    height: fit-content;
    background-color: white;
    width: 50%;
}

.underline-contact {
    width: 6%;
    height: 5px;
    background-color: #e98025;
}

.contact-details {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    margin: 20px 0;
}

.contact-address, .service-time {
    width: 50%;
    min-width: 230px;
}

.contact-address p {
    font-size: 20px;
    line-height: 33px;
    font-weight: normal;
    color: rgb(66, 66, 66);
}

.service-time p {
    font-size: 20px;
    line-height: 33px;
    font-weight: normal;
    color: rgb(126, 126, 126);
}

.order-coffee {
    width: 96%;
    margin: 20px 2%;
    height: 450px;
    background-image: url(/images/Coffee.jpg);
    background-position: center;
    background-size: cover;
}

.order-coffee-overlay {
    width: 100%;
    height: 100%;
    background-color: #e9812525;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-coffee-container {
    background-color: white;
    border-radius: 3px;
    border: 1px #1b11085b solid;
    width: 40%;
    height: auto;
    margin: 0 30%;
    padding: 40px;
}

.order-coffee-img {
    display: flex;
    justify-content: center;
}

.order-coffee-img img {
    height: 70px;
    width: auto;
    border-radius: 5px;
    display: block;
}

.order-coffee-text {
    width: 90%;
    margin: 20px 5%;
    text-align: center;
}

.order-coffee-text p{
    width: 100%;
    color: rgb(94, 94, 94);
    font-size: 22px;
    line-height: 32px;
    max-width: 100%;
}

.order-coffee-img a{ 
    display: block;
    padding: 10px 30px;
    background-color: #ff8d29;
    color: white;
    border-radius: 3px;
}

.mapouter {
    filter: grayscale(1);
}

@media screen and (max-width: 1200px) {
    .contact-main-container {
        width: 100%;
        margin: 30px 0;
        padding: 0;
        background-color: #f7f7f7;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .order-coffee-container {
        background-color: white;
        border-radius: 3px;
        border: 1px #1b11085b solid;
        width: 80%;
        margin: 0 10%;
        padding: 20px;
    }
    .order-coffee-img img {
        height: 60px;
    }
    .order-coffee-text p {
        font-size: 18px;
        line-height: 23px;
    }
    .contact-info {
        top: unset;
        left: unset;
        z-index: 50;
        border: none;
        border-radius: none;
        height: auto;
        width: 100%;
    }
    .contact-address, .service-time {
        width: 80%;
    }
    .mapouter {
        overflow: hidden;
        max-width: 100vw;
        display: flex;
        justify-content: center;
    }
    .mapouter iframe {
        transform: translateX(-120vw);
    }
}