.header-text-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-text {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.underline-header-text {
    width: 6%;
    margin: 5px 47%;
    height: 5px;
    background-color: #e98025;
}