<section class="customer-love" data-aos="fade-zoom-in"
data-aos-easing="ease-in-back"
data-aos-offset="500">
    <div class="header-text-container">
        <div class="header-text" data-aos="fade-up"
        data-aos-duration="1000">
            <span>Cảm nhận khách hàng</span>
            <div class="underline-header-text" data-aos="fade-right"
            data-aos-offset="400"
            data-aos-delay="400"
            data-aos-easing="ease-in-sine"></div>
        </div>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide pointer-event" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="5000">
                <div class="customer-slide-item">
                    <div class="customer-slide-img"><img src="/images/avatar.jpg" alt=""></div>
                    <div class="customer-slide-words">
                        <h2>"Oh man! I am so happy with my latest beer delivery. Totally delicious, responsibly sourced and cool packaging too. I shall be back next payday for more!"</h2>
                    </div>
                    <div class="customer-slide-name">
                        <h4>Oscar Brashear</h4>
                    </div>
                    <div class="customer-slide-social"> 
                        <p>Facebook</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <div class="customer-slide-item">
                    <div class="customer-slide-img"><img src="/images/avatar.jpg" alt=""></div>
                    <div class="customer-slide-words">
                        <h2>"Oh man! I am so happy with my latest beer delivery. Totally delicious, responsibly sourced and cool packaging too. I shall be back next payday for more!"</h2>
                    </div>
                    <div class="customer-slide-name">
                        <h4>Oscar Brashear</h4>
                    </div>
                    <div class="customer-slide-social"> 
                        <p>Facebook</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <div class="customer-slide-item">
                    <div class="customer-slide-img"><img src="/images/avatar.jpg" alt=""></div>
                    <div class="customer-slide-words">
                        <h2>"Oh man! I am so happy with my latest beer delivery. Totally delicious, responsibly sourced and cool packaging too. I shall be back next payday for more!"</h2>
                    </div>
                    <div class="customer-slide-name">
                        <h4>Oscar Brashear</h4>
                    </div>
                    <div class="customer-slide-social"> 
                        <p>Facebook</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</section>