<footer>
    <div class="footer-main-container">
        <div class="footer-column">
            <h4>Menu</h4>
            <a href="#">Tất cả sản phẩm</a>
            <a href="#">Câu chuyện của chúng tôi</a>
            <a href="#">Blog</a>
        </div>
        <div class="footer-column">
            <h4>Địa chỉ</h4>
            <p>14 Phan Đình Phùng, <br />quận Hải Châu, Đà Nẵng</p>
        </div>
        <div class="footer-column">
            <h4>Chào mừng đến với Citicafe</h4>
            <p>Citicafe là chuỗi cà phê cóc dành cho các thị-dân (citizen).</p>
        </div>
        <div class="footer-column">
            <h4>Cộng đồng</h4>
            <div class="footer-social">
                <a href="https://www.facebook.com/citicafevietnam"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/citicafevietnam/"><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>

            </div>
        </div>
    </div>
    <div class="footer-signature">
        <div class="footer-signature-container">
            <div class="madeby">Made by Jason Anger</div>
            <div class="footer-signature-text">© 2021, Chuỗi thương hiệu Càfe cóc thế hệ mới Citicafe</div>
        </div>
    </div>
</footer>