<nav class="citinavbar">
    <div class="logo-container">
        <a href="/"><img src="/images/logo.png" alt="Citicafe Logo"></a>
    </div>
    <div class="white-back"></div>
    <div id="burger-nav" onclick="burgerHandleClick()">
        <div class="burger-line" id="line1"></div>
        <div class="burger-line" id="line2"></div>
        <div class="burger-line" id="line3"></div>
    </div>
    <div class="main-nav">
        <ul>
            <li><a href="/">TRANG CHỦ</a></li>
            <li class="nav-element">
                <a href="#">MENU</a>
                <div class="drop-down">
                    <div class="drop-down-column">
                        <a class="drop-down-column-header">SẢN PHẨM CHÍNH</a>
                        <a class="drop-down-column-link">Cafe 1</a>
                        <a class="drop-down-column-link">Cafe 1</a>
                        <a class="drop-down-column-link">Cafe 1</a>
                        <a class="drop-down-column-link">Cafe 1</a>
                    </div>
                </div>
            </li>
            <li><a href="#">VỀ CHÚNG TÔI</a></li>
            <li><a href="#contactus">LIÊN HỆ</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>
</nav>